[Unit]
Description=CPU Temperature Monitor Service
After=network.target

[Service]
Type=simple
ExecStart=/home/daniel/dell_r730_temp_monitor/cpu_temp_monitor.sh

[Install]
WantedBy=multi-user.target

